@font-face {
	font-family: 'ff_casperbold';
	src: url(../../assets/fonts/ffcasper-bold.woff2) format('woff2'),
	url(../../assets/fonts/ffcasper-bold.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}