body {
  background-color: #141414;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  font-family: 'Ubuntu';
}

p {
  font-size: 20px;
}

a {
  margin-top: 5%;
  margin-bottom: 8%;
  font-size: 1em;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.footer-2 {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #cdcdcd;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  border: solid #cdcdcd 2px;
  text-decoration: none;
  background: #141414;
}

button:hover {
  background: #1f1f1f;
  text-decoration: none;
}